*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0 !important;
}
li{
    color: inherit;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: inherit;
}
section{
    padding: 70px 10px;
}
img{
    width: 100%;
}
/* Start Nav */
.navbar{
    background-color: #333333;
    z-index: 999;
    width: 100%;
}
.navbar .navbar-brand{
    font-size: 28px;
    color: white;
    font-style: italic;
}
.navbar .nav-link{
    color: white;
    transition: 0.3s;
}
.navbar .nav-link:hover{
    background-color: #ff0f0f;
}
.navbar .active{
    background-color: #ff0f0f !important;
}
.navbar .dropdown-menu{
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #333333;
    gap: 5px;
}
.navbar .dropdown-menu .dropdown-item{
    color: white;
    transition: 0.3s;
    padding: 5px 10px;
}
.navbar .dropdown-menu .dropdown-item:hover{
    background-color: #ff0f0f;
}
/* End Nav */
/* Start Speakers */
.Speakers .container-fluid .row .Member{
    padding: 30px 0;
    width: 100%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    border-bottom: 2px solid #333333;
}
.Speakers .container-fluid .row .Member .memberimg{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
}
/* End Speakers */
/* Start Footer */
footer{
    background-color: rgb(161, 16, 64);
    height: 40vh;
}
footer .row{
    padding: 40px 0;
}
footer .row .Quicklinks h3{
    color: #e0e6e6;
}
footer .row .Quicklinks ul li{
    transition: 0.3s;
    color: #e0e6e6;
    margin: 5px 0;
    list-style:disc;
}
footer .row .Quicklinks ul li:hover{
    color: #000;
    letter-spacing: 3px;
}
footer .row .Contact h3{
    color: #e0e6e6;
}
footer .row .Contact .platforms{
    display: flex;
    gap: 15px;
}
footer .row .Contact .platforms i{
    font-size: 28px;
    color: #e0e6e6;
    transition: 0.3s;
}
footer .row .Contact .platforms i:hover{
    color: #000;
}
/* End Footer */